Kartverket.Generators.Tests/luftfartshindre.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:app="http://skjema.geonorge.no/SOSI/produktspesifikasjon/Luftfartshindre/20160202" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="http://skjema.geonorge.no/SOSI/produktspesifikasjon/Luftfartshindre/20160202" version="20160202">
  <annotation>
    <documentation>Denne spesifikasjonen beskriver Nasjonalt register over luftfartshindre (NRL) og de dataene som leveres ut fra dette systemet.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <simpleType name="AnsvarligForMerkingType">
    <annotation>
      <documentation>hvem har ansvar for merking</documentation>
    </annotation>
    <union memberTypes="app:AnsvarligForMerkingEnumerationType app:AnsvarligForMerkingOtherType"/>
  </simpleType>
  <simpleType name="AnsvarligForMerkingEnumerationType">
    <annotation>
      <documentation>hvem har ansvar for merking</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="EIER"/>
      <enumeration value="ITOG"/>
    </restriction>
  </simpleType>
  <simpleType name="AnsvarligForMerkingOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Endringsflagg" substitutionGroup="gml:AbstractObject" type="app:EndringsflaggType">
    <annotation>
      <documentation>endringsinformasjon om et objekt

Merknad: 
Inntil videre vil hele objektet merkes med endringsflagget.
I det videre arbeidet (framtidige versjoner) vil denne kunne utvides, f.eks ved å angi om endringen er knyttet til geometrien, egenskapene eller relasjoner</documentation>
    </annotation>
  </element>
  <complexType name="EndringsflaggType">
    <sequence>
      <element name="typeEndring" type="app:TypeEndringType">
        <annotation>
          <documentation>endringsstatus for objektet</documentation>
        </annotation>
      </element>
      <element name="tidspunktEndring" type="dateTime">
        <annotation>
          <documentation>tidspunkt for endring av objektet</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="EndringsflaggPropertyType">
    <sequence>
      <element ref="app:Endringsflagg"/>
    </sequence>
  </complexType>
  <simpleType name="FargeType">
    <annotation>
      <documentation>kodeliste for merkingens farge</documentation>
    </annotation>
    <union memberTypes="app:FargeEnumerationType app:FargeOtherType"/>
  </simpleType>
  <simpleType name="FargeEnumerationType">
    <annotation>
      <documentation>kodeliste for merkingens farge</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Svovelgul">
        <annotation>
          <documentation>RAL 1016 (Sulfur yellow)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Trafikkrød">
        <annotation>
          <documentation>RAL 3020 (Traffic red)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Lysende rød">
        <annotation>
          <documentation>RAL 3024 (Luminous red)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Lys grå">
        <annotation>
          <documentation>RAL 7035 (Light grey)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Agatgrå">
        <annotation>
          <documentation>RAL 7038 (Agate grey)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Signalhvit">
        <annotation>
          <documentation>RAL 9003 (Signal white)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Ren hvit">
        <annotation>
          <documentation>RAL 9010 (Pure white)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Trafikkhvit">
        <annotation>
          <documentation>RAL 9016 (Traffic white)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Oransje">
        <annotation>
          <documentation>RAL kode ikke aktuelt, kode er videreført fra gammelt system</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Rødt">
        <annotation>
          <documentation>RAL kode ikke aktuelt, kode er videreført fra gammelt system</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Hvitt">
        <annotation>
          <documentation>RAL kode ikke aktuelt, kode er videreført fra gammelt system</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Annet"/>
    </restriction>
  </simpleType>
  <simpleType name="FargeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HøydereferanseType">
    <annotation>
      <documentation>koordinatregistering utført på topp eller bunn av et objekt</documentation>
    </annotation>
    <union memberTypes="app:HøydereferanseEnumerationType app:HøydereferanseOtherType"/>
  </simpleType>
  <simpleType name="HøydereferanseEnumerationType">
    <annotation>
      <documentation>koordinatregistering utført på topp eller bunn av et objekt</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="FOT"/>
      <enumeration value="TOP"/>
      <enumeration value="UKJENT">
        <annotation>
          <documentation>benyttes ikke ved nyregistrering</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HøydereferanseOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HøydereferansesystemType">
    <annotation>
      <documentation>referanseflate som er utgangspunktet for høydekoordinat.</documentation>
    </annotation>
    <union memberTypes="app:HøydereferansesystemEnumerationType app:HøydereferansesystemOtherType"/>
  </simpleType>
  <simpleType name="HøydereferansesystemEnumerationType">
    <annotation>
      <documentation>referanseflate som er utgangspunktet for høydekoordinat.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ELLIP"/>
      <enumeration value="LOKAL"/>
      <enumeration value="NKG89">
        <annotation>
          <documentation>NKG: The Nordic Geodetic Commission - founded in 1953 - is an association of geodesists from Denmark, Finland, Iceland, Norway and Sweden. Its purpose is to give the members possibilities of fruitful gatherings and mutual exchange of professional views and experiences. The NKG is recognized and supported by a number of Nordic  organizations, such as the Director Generals of the Nordic Mapping Authorities. (Kilde: http://217.152.180.26/nkg/)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NN54">
        <annotation>
          <documentation>Denne er identisk med NN1954</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NNN57">
        <annotation>
          <documentation>For nyere data er denne gått ut av bruk. Er erstattet av NN54.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NN2000">
        <annotation>
          <documentation>Nytt felles nordisk vertikalt datum, basert på Normaal Amsterdals Peil.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HøydereferansesystemOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="IdentifikasjonLinje" substitutionGroup="gml:AbstractObject" type="app:IdentifikasjonLinjeType">
    <annotation>
      <documentation>Unik identifikasjon av et objekt, ivaretatt av den ansvarlige produsent/forvalter, som kan benyttes av eksterne applikasjoner som referanse til objektet. 

NOTE1 Denne eksterne objektidentifikasjonen må ikke forveksles med en tematisk objektidentifikasjon, slik som f.eks bygningsnummer. 

NOTE 2 Denne unike identifikatoren vil ikke endres i løpet av objektets levetid.</documentation>
    </annotation>
  </element>
  <complexType name="IdentifikasjonLinjeType">
    <sequence>
      <element name="lokalId" type="string">
        <annotation>
          <documentation>lokal identifikator, tildelt av dataleverendør/dataforvalter. Den lokale identifikatoren er unik innenfor navnerommet, ingen andre objekter har samme identifikator.

Merknad: Det er data leverendørens ansvar å sørge for at denne lokale identifikatoren er unik innenfor navnerommet.</documentation>
        </annotation>
      </element>
      <element name="navnerom" type="string">
        <annotation>
          <documentation>navnerom som unikt identifiserer datakilden til objektet, starter med to bokstavs kode jfr ISO 3166. Benytter understreking  ("_") dersom data produsenten ikke er assosiert med bare et land.

Merknad : Verdien for nanverom vil eies av den dataprodusent som har ansvar for de unike identifikatorene og vil registreres i "INSPIRE external  Object Identifier Namespaces Register"

Eksempel: NO for Norge.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="versjonId" type="string">
        <annotation>
          <documentation>identifikasjon av en spesiell versjon av et geografisk objekt (instans), maksimum lengde på 25 karakterer. Dersom spesifikasjonen av et geografisk objekt med en identifikasjon inkludererer livsløpssyklusinformasjon, benyttes denne versjonId for å skille mellom ulike versjoner av samme objekt. versjonId er en unik  identifikasjon av versjonen. 

Merknad: Maksimum lengde er valgt for å tillate tidsregistrering i henhold til  ISO 8601, slik som  "2007-02-12T12:12:12+05:30" som versjonId.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="IdentifikasjonLinjePropertyType">
    <sequence>
      <element ref="app:IdentifikasjonLinje"/>
    </sequence>
  </complexType>
  <element name="IdentifikasjonLinjePkt" substitutionGroup="gml:AbstractObject" type="app:IdentifikasjonLinjePktType">
    <annotation>
      <documentation>Unik identifikasjon av et objekt, ivaretatt av den ansvarlige produsent/forvalter, som kan benyttes av eksterne applikasjoner som referanse til objektet. 

NOTE1 Denne eksterne objektidentifikasjonen må ikke forveksles med en tematisk objektidentifikasjon, slik som f.eks bygningsnummer. 

NOTE 2 Denne unike identifikatoren vil ikke endres i løpet av objektets levetid.</documentation>
    </annotation>
  </element>
  <complexType name="IdentifikasjonLinjePktType">
    <sequence>
      <element name="lokalId" type="string">
        <annotation>
          <documentation>lokal identifikator, tildelt av dataleverendør/dataforvalter. Den lokale identifikatoren er unik innenfor navnerommet, ingen andre objekter har samme identifikator.

Merknad: Det er data leverendørens ansvar å sørge for at denne lokale identifikatoren er unik innenfor navnerommet.</documentation>
        </annotation>
      </element>
      <element name="navnerom" type="string">
        <annotation>
          <documentation>navnerom som unikt identifiserer datakilden til objektet, starter med to bokstavs kode jfr ISO 3166. Benytter understreking  ("_") dersom data produsenten ikke er assosiert med bare et land.

Merknad : Verdien for nanverom vil eies av den dataprodusent som har ansvar for de unike identifikatorene og vil registreres i "INSPIRE external  Object Identifier Namespaces Register"

Eksempel: NO for Norge.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="versjonId" type="string">
        <annotation>
          <documentation>identifikasjon av en spesiell versjon av et geografisk objekt (instans), maksimum lengde på 25 karakterer. Dersom spesifikasjonen av et geografisk objekt med en identifikasjon inkludererer livsløpssyklusinformasjon, benyttes denne versjonId for å skille mellom ulike versjoner av samme objekt. versjonId er en unik  identifikasjon av versjonen. 

Merknad: Maksimum lengde er valgt for å tillate tidsregistrering i henhold til  ISO 8601, slik som  "2007-02-12T12:12:12+05:30" som versjonId.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="IdentifikasjonLinjePktPropertyType">
    <sequence>
      <element ref="app:IdentifikasjonLinjePkt"/>
    </sequence>
  </complexType>
  <element name="IdentifikasjonObjekt" substitutionGroup="gml:AbstractObject" type="app:IdentifikasjonObjektType">
    <annotation>
      <documentation>Unik identifikasjon av et objekt, ivaretatt av den ansvarlige produsent/forvalter, som kan benyttes av eksterne applikasjoner som referanse til objektet. 

NOTE1 Denne eksterne objektidentifikasjonen må ikke forveksles med en tematisk objektidentifikasjon, slik som f.eks bygningsnummer. 

NOTE 2 Denne unike identifikatoren vil ikke endres i løpet av objektets levetid.</documentation>
    </annotation>
  </element>
  <complexType name="IdentifikasjonObjektType">
    <sequence>
      <element name="lokalId" type="string">
        <annotation>
          <documentation>lokal identifikator, tildelt av dataleverendør/dataforvalter. Den lokale identifikatoren er unik innenfor navnerommet, ingen andre objekter har samme identifikator.

Merknad: Det er data leverendørens ansvar å sørge for at denne lokale identifikatoren er unik innenfor navnerommet.</documentation>
        </annotation>
      </element>
      <element name="navnerom" type="string">
        <annotation>
          <documentation>navnerom som unikt identifiserer datakilden til objektet, starter med to bokstavs kode jfr ISO 3166. Benytter understreking  ("_") dersom data produsenten ikke er assosiert med bare et land.

Merknad : Verdien for nanverom vil eies av den dataprodusent som har ansvar for de unike identifikatorene og vil registreres i "INSPIRE external  Object Identifier Namespaces Register"

Eksempel: NO for Norge.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="versjonId" type="string">
        <annotation>
          <documentation>identifikasjon av en spesiell versjon av et geografisk objekt (instans), maksimum lengde på 25 karakterer. Dersom spesifikasjonen av et geografisk objekt med en identifikasjon inkludererer livsløpssyklusinformasjon, benyttes denne versjonId for å skille mellom ulike versjoner av samme objekt. versjonId er en unik  identifikasjon av versjonen. 

Merknad: Maksimum lengde er valgt for å tillate tidsregistrering i henhold til  ISO 8601, slik som  "2007-02-12T12:12:12+05:30" som versjonId.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="IdentifikasjonObjektPropertyType">
    <sequence>
      <element ref="app:IdentifikasjonObjekt"/>
    </sequence>
  </complexType>
  <element name="IdentifikasjonPunkt" substitutionGroup="gml:AbstractObject" type="app:IdentifikasjonPunktType">
    <annotation>
      <documentation>Unik identifikasjon av et objekt, ivaretatt av den ansvarlige produsent/forvalter, som kan benyttes av eksterne applikasjoner som referanse til objektet. 

NOTE1 Denne eksterne objektidentifikasjonen må ikke forveksles med en tematisk objektidentifikasjon, slik som f.eks bygningsnummer. 

NOTE 2 Denne unike identifikatoren vil ikke endres i løpet av objektets levetid.</documentation>
    </annotation>
  </element>
  <complexType name="IdentifikasjonPunktType">
    <sequence>
      <element name="lokalId" type="string">
        <annotation>
          <documentation>lokal identifikator, tildelt av dataleverendør/dataforvalter. Den lokale identifikatoren er unik innenfor navnerommet, ingen andre objekter har samme identifikator.

Merknad: Det er data leverendørens ansvar å sørge for at denne lokale identifikatoren er unik innenfor navnerommet.</documentation>
        </annotation>
      </element>
      <element name="navnerom" type="string">
        <annotation>
          <documentation>navnerom som unikt identifiserer datakilden til objektet, starter med to bokstavs kode jfr ISO 3166. Benytter understreking  ("_") dersom data produsenten ikke er assosiert med bare et land.

Merknad : Verdien for nanverom vil eies av den dataprodusent som har ansvar for de unike identifikatorene og vil registreres i "INSPIRE external  Object Identifier Namespaces Register"

Eksempel: NO for Norge.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="versjonId" type="string">
        <annotation>
          <documentation>identifikasjon av en spesiell versjon av et geografisk objekt (instans), maksimum lengde på 25 karakterer. Dersom spesifikasjonen av et geografisk objekt med en identifikasjon inkludererer livsløpssyklusinformasjon, benyttes denne versjonId for å skille mellom ulike versjoner av samme objekt. versjonId er en unik  identifikasjon av versjonen. 

Merknad: Maksimum lengde er valgt for å tillate tidsregistrering i henhold til  ISO 8601, slik som  "2007-02-12T12:12:12+05:30" som versjonId.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="IdentifikasjonPunktPropertyType">
    <sequence>
      <element ref="app:IdentifikasjonPunkt"/>
    </sequence>
  </complexType>
  <simpleType name="JaNeiType">
    <annotation>
      <documentation>alternativ til å bruke den generelle datatypen Boolean</documentation>
    </annotation>
    <union memberTypes="app:JaNeiEnumerationType app:JaNeiOtherType"/>
  </simpleType>
  <simpleType name="JaNeiEnumerationType">
    <annotation>
      <documentation>alternativ til å bruke den generelle datatypen Boolean</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja"/>
      <enumeration value="Nei"/>
      <enumeration value="Ukjent"/>
    </restriction>
  </simpleType>
  <simpleType name="JaNeiOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Link" substitutionGroup="gml:AbstractObject" type="app:LinkType">
    <annotation>
      <documentation>referanse  til et informasjonselement, enten lokalt eller globalt

Eksempel:
Som lokal : //skrisrv2/tjenester/sosiforv/web/welcome.htm
Som global: http://www.statkart.no/standard/sosi/ACCESS/welcome.htm</documentation>
    </annotation>
  </element>
  <complexType name="LinkType">
    <sequence/>
  </complexType>
  <complexType name="LinkPropertyType">
    <sequence>
      <element ref="app:Link"/>
    </sequence>
  </complexType>
  <simpleType name="LystypeType">
    <annotation>
      <documentation>hinderlys til bruk ved merking av luftfartshinder i henhold til vedlegg til forskrift om rapportering, registrering og merking av luftfartshinder, BSL E 2-1. &lt;font color="#0f0f0f"&gt;I tillegg er det mulig å velge koder fra gammel NRL&lt;/font&gt;</documentation>
    </annotation>
    <union memberTypes="app:LystypeEnumerationType app:LystypeOtherType"/>
  </simpleType>
  <simpleType name="LystypeEnumerationType">
    <annotation>
      <documentation>hinderlys til bruk ved merking av luftfartshinder i henhold til vedlegg til forskrift om rapportering, registrering og merking av luftfartshinder, BSL E 2-1. &lt;font color="#0f0f0f"&gt;I tillegg er det mulig å velge koder fra gammel NRL&lt;/font&gt;</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="LIA">
        <annotation>
          <documentation>rødt, fast, 10 candela</documentation>
        </annotation>
      </enumeration>
      <enumeration value="LIB">
        <annotation>
          <documentation>rødt, fast, 32 candela</documentation>
        </annotation>
      </enumeration>
      <enumeration value="LIC">
        <annotation>
          <documentation>ikke del av oversikten i vedlegg 2 BSL E 2-1, men tatt fra tabell 6-3 i ICAO annex 14</documentation>
        </annotation>
      </enumeration>
      <enumeration value="LID">
        <annotation>
          <documentation>ikke del av oversikten i vedlegg 2 BSL E 2-1, men tatt fra tabell 6-3 i ICAO annex 14</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MIA">
        <annotation>
          <documentation>hvitt, blinkende, 20 000 candela ved bakgrunnsbelysning 50 cd/m ² og over, 2000 candela med bakgrunnsbelysning uneder 50 cd/m ²</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MIB">
        <annotation>
          <documentation>rødt, blinkende, 2000 candela</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MIC">
        <annotation>
          <documentation>rødt, fast, 2000 candela</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HIA">
        <annotation>
          <documentation>hvitt, blinkende, 200 000 candela ved bakgrunnsbelysning over 500 cd/m², 20 000 candela ved bakgrunnsbelysning 50-500 cd/m² og 2000 candela ved bakgrunnsbelysning under 50 cd/m²</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HIB">
        <annotation>
          <documentation>hvitt, blinkende, 100 000 candela ved bakgrunnsbelysning over 500 cd/m², 20 000 candela ved bakgrunnsbelysning 50-500 cd/m² og 2000 candela ved bakgrunnsbelysning under 50 cd/m²</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FLO">
        <annotation>
          <documentation>objektet er opplys av lyskastere for å være synlig for luftfarten</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FR">
        <annotation>
          <documentation>brukes dersom vi ikke vet lysstyrke, men har observert lysfarge rød fast lys</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FH">
        <annotation>
          <documentation>brukes dersom vi ikke vet lysstyrke, men har observert lysfarge hvit fast lys</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BH">
        <annotation>
          <documentation>brukes dersom vi ikke vet lysstyrke, men har observert lysfarge hvitt blinkende lys</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BR">
        <annotation>
          <documentation>brukes dersom vi ikke vet lysstyrke, men har observert lysfarge rødt blinkende lys</documentation>
        </annotation>
      </enumeration>
      <enumeration value="L">
        <annotation>
          <documentation>brukes dersom man vet at hinderet har lys, men ikke vet farge og type</documentation>
        </annotation>
      </enumeration>
      <enumeration value="IL"/>
      <enumeration value="UKJ">
        <annotation>
          <documentation>benyttes dersom det er ukjent om hinderet har lys eller ikke.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LystypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MerkeInformasjonType">
    <annotation>
      <documentation>utdypende informasjon om merking</documentation>
    </annotation>
    <union memberTypes="app:MerkeInformasjonEnumerationType app:MerkeInformasjonOtherType"/>
  </simpleType>
  <simpleType name="MerkeInformasjonEnumerationType">
    <annotation>
      <documentation>utdypende informasjon om merking</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="FOR"/>
      <enumeration value="DISP"/>
      <enumeration value="FOR+"/>
      <enumeration value="MNGL"/>
      <enumeration value="UKJ"/>
    </restriction>
  </simpleType>
  <simpleType name="MerkeInformasjonOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Merkeplikt" substitutionGroup="gml:AbstractObject" type="app:MerkepliktType">
    <annotation>
      <documentation>informasjon om merkeplikt</documentation>
    </annotation>
  </element>
  <complexType name="MerkepliktType">
    <sequence>
      <element name="merkepliktig" type="app:JaNeiType">
        <annotation>
          <documentation>hvorvidt hinder er merkepliktig</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="merkepliktigIhenholdTil" type="app:RegelverkMerkepliktType">
        <annotation>
          <documentation>regelverk som pålegger merking</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="ansvarligForMerking" type="app:AnsvarligForMerkingType">
        <annotation>
          <documentation>hvem har ansvar for merking</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="merkeInformasjon" type="app:MerkeInformasjonType">
        <annotation>
          <documentation>utdypende informasjon om merking</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="kommentarMerkeplikt" type="string">
        <annotation>
          <documentation>utfyllende informasjon om en eller flere av de andre attributtene</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="MerkepliktPropertyType">
    <sequence>
      <element ref="app:Merkeplikt"/>
    </sequence>
  </complexType>
  <element name="Merking" substitutionGroup="gml:AbstractObject" type="app:MerkingType">
    <annotation>
      <documentation>informasjon om hindermerking</documentation>
    </annotation>
  </element>
  <complexType name="MerkingType">
    <sequence>
      <element maxOccurs="2" minOccurs="0" name="merkingFarge" type="app:MerkingFargePropertyType">
        <annotation>
          <documentation>skal brukes hvis merking består av en eller to farger</documentation>
        </annotation>
      </element>
      <element name="merkingType" type="app:MerkingTypeType">
        <annotation>
          <documentation>ulike typer merking spesifiseres her</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="kommentarMerkingType" type="string">
        <annotation>
          <documentation>hvis "annet" velges på merkingType skal dette spesifiseres her</documentation>
        </annotation>
      </element>
      <element name="merkingMønster" type="app:MerkingMønsterType">
        <annotation>
          <documentation>mønster til merkingen</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="kommentarMerkingMønster" type="string">
        <annotation>
          <documentation>hvis "Annet" velges på merkingMønster skal dette spesifiseres her</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="merkingICAO" type="app:JaNeiType">
        <annotation>
          <documentation>hvorvidt merking er ihht. ICAO standard</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="merkingTilstand" type="app:MerkingTilstandType">
        <annotation>
          <documentation>informasjon om merkingens tilstand</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="MerkingPropertyType">
    <sequence>
      <element ref="app:Merking"/>
    </sequence>
  </complexType>
  <element name="MerkingFarge" substitutionGroup="gml:AbstractObject" type="app:MerkingFargeType">
    <annotation>
      <documentation>Informasjon om farge og andre egenskaper for hindermerking.</documentation>
    </annotation>
  </element>
  <complexType name="MerkingFargeType">
    <sequence>
      <element name="farge" type="app:FargeType">
        <annotation>
          <documentation>farge angis med koder fra definert kodeliste</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="annet" type="string">
        <annotation>
          <documentation>hvis "annet" velges på attributt farge, må dette spesifiseres her</documentation>
        </annotation>
      </element>
      <element name="fluoriserende" type="app:JaNeiType">
        <annotation>
          <documentation>om fargemerkingen er fluoriserende (selvlysende)</documentation>
        </annotation>
      </element>
      <element name="reflekterende" type="app:JaNeiType">
        <annotation>
          <documentation>om fargemerkingen er reflekterende</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="MerkingFargePropertyType">
    <sequence>
      <element ref="app:MerkingFarge"/>
    </sequence>
  </complexType>
  <simpleType name="MerkingMønsterType">
    <annotation>
      <documentation>ulike mønstertyper for merking.</documentation>
    </annotation>
    <union memberTypes="app:MerkingMønsterEnumerationType app:MerkingMønsterOtherType"/>
  </simpleType>
  <simpleType name="MerkingMønsterEnumerationType">
    <annotation>
      <documentation>ulike mønstertyper for merking.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="EN"/>
      <enumeration value="RUTE"/>
      <enumeration value="HORB">
        <annotation>
          <documentation>to-fargete alternerende horisontale bånd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="VERB">
        <annotation>
          <documentation>to-fargete alternerende vertikale bånd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UKJ"/>
      <enumeration value="Annet"/>
    </restriction>
  </simpleType>
  <simpleType name="MerkingMønsterOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MerkingTilstandType">
    <annotation>
      <documentation>Angivelse av merkingens tilstand.</documentation>
    </annotation>
    <union memberTypes="app:MerkingTilstandEnumerationType app:MerkingTilstandOtherType"/>
  </simpleType>
  <simpleType name="MerkingTilstandEnumerationType">
    <annotation>
      <documentation>Angivelse av merkingens tilstand.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="D">
        <annotation>
          <documentation>Merkingen er vanskelig å se.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>Merkingen er mulig å se, men utydelig.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="G">
        <annotation>
          <documentation>Merkingen er godt synlig.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="VG">
        <annotation>
          <documentation>Merkingen er meget godt synlig.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UKJ">
        <annotation>
          <documentation>Tilstanden til merking er ukjent.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MerkingTilstandOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MerkingTypeType">
    <annotation>
      <documentation>ulike typer merking spesifiseres her</documentation>
    </annotation>
    <union memberTypes="app:MerkingTypeEnumerationType app:MerkingTypeOtherType"/>
  </simpleType>
  <simpleType name="MerkingTypeEnumerationType">
    <annotation>
      <documentation>ulike typer merking spesifiseres her</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Flagg">
        <annotation>
          <documentation>kan være ensfarget eller mønstret.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Markør">
        <annotation>
          <documentation>gjelder også blåser</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Plater">
        <annotation>
          <documentation>Objektet er merket med fargede plater</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UKJ">
        <annotation>
          <documentation>Merketypen er ukjent</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Annet">
        <annotation>
          <documentation>hvis valgt, kreves utfylling av feltet kommentarMerkingType</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MerkingTypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MåleenhetType">
    <annotation>
      <documentation>kodeliste for måleenheter.</documentation>
    </annotation>
    <union memberTypes="app:MåleenhetEnumerationType app:MåleenhetOtherType"/>
  </simpleType>
  <simpleType name="MåleenhetEnumerationType">
    <annotation>
      <documentation>kodeliste for måleenheter.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="FT">
        <annotation>
          <documentation>foot</documentation>
        </annotation>
      </enumeration>
      <enumeration value="M">
        <annotation>
          <documentation>meter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CM">
        <annotation>
          <documentation>centimeter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="KM">
        <annotation>
          <documentation>kilometer</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MåleenhetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MålemetodeType">
    <annotation>
      <documentation>metode som ligger til grunn for registrering av posisjon</documentation>
    </annotation>
    <union memberTypes="app:MålemetodeEnumerationType app:MålemetodeOtherType"/>
  </simpleType>
  <simpleType name="MålemetodeEnumerationType">
    <annotation>
      <documentation>metode som ligger til grunn for registrering av posisjon</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="10">
        <annotation>
          <documentation>Målt i terrenget</documentation>
        </annotation>
      </enumeration>
      <enumeration value="18">
        <annotation>
          <documentation>Tatt fra plan eller godkjent tiltak</documentation>
        </annotation>
      </enumeration>
      <enumeration value="19">
        <annotation>
          <documentation>Annet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20">
        <annotation>
          <documentation>Målt i stereoinstrument, uspesifisert instrument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="22">
        <annotation>
          <documentation>Målt i stereoinstrument, analytisk plotter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>Målt i stereoinstrument, digitalt instrument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="36">
        <annotation>
          <documentation>Målt med laserskanner fra fly</documentation>
        </annotation>
      </enumeration>
      <enumeration value="45">
        <annotation>
          <documentation>Geometri overført fra ortofoto ved hjelp av manuell registrering på skjerm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="46">
        <annotation>
          <documentation>Geometri overført fra satelittbilde ved hjelp av manuell registrering på skjerm</documentation>
        </annotation>
      </enumeration>
      <enumeration value="56">
        <annotation>
          <documentation>Geometri overført fra kart ved hjelp av manuell registrering på skjerm, medium skannet kart (raster), samkopi</documentation>
        </annotation>
      </enumeration>
      <enumeration value="60">
        <annotation>
          <documentation>Genererte data, interpolasjonsmetode. Ikke nærmere spesifisert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="80">
        <annotation>
          <documentation>Digitalisert ut fra frihåndstegning.  Frihåndstegning er basert på svært grovt grunnlag eller ikke noe grunnlag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="81">
        <annotation>
          <documentation>Digitalisert fra krokering på kart, dvs grovt skissert på kart</documentation>
        </annotation>
      </enumeration>
      <enumeration value="82">
        <annotation>
          <documentation>Digitalisert ut fra frihåndstegning (direkte på skjerm). Frihåndstegning er basert på svært grovt grunnlag eller ikke noe grunnlag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99">
        <annotation>
          <documentation>Målemetode er ukjent</documentation>
        </annotation>
      </enumeration>
      <enumeration value="91">
        <annotation>
          <documentation>Innmålt med satellittbaserte systemer for navigasjon og 
posisjonering med global dekning (f.eks GPS, GLONASS, GALILEO): Kodemåling, relative målinger.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="92">
        <annotation>
          <documentation>Innmålt med satellittbaserte systemer for navigasjon og 
posisjonering med global dekning (f.eks GPS, GLONASS, 
GALILEO): Kodemåling, enkle målinger.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MålemetodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="MålemetodeHøydeType">
    <annotation>
      <documentation>metode for å måle objekttypens høydeverdi</documentation>
    </annotation>
    <union memberTypes="app:MålemetodeHøydeEnumerationType app:MålemetodeHøydeOtherType"/>
  </simpleType>
  <simpleType name="MålemetodeHøydeEnumerationType">
    <annotation>
      <documentation>metode for å måle objekttypens høydeverdi</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="10">
        <annotation>
          <documentation>Målt i terrenget</documentation>
        </annotation>
      </enumeration>
      <enumeration value="18">
        <annotation>
          <documentation>Tatt fra plan eller godkjent tiltak</documentation>
        </annotation>
      </enumeration>
      <enumeration value="19">
        <annotation>
          <documentation>Annet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="20">
        <annotation>
          <documentation>Målt i stereoinstrument, uspesifisert instrument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="22">
        <annotation>
          <documentation>Målt i stereoinstrument, analytisk plotter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="24">
        <annotation>
          <documentation>Målt i stereoinstrument, digitalt instrument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="36">
        <annotation>
          <documentation>Målt med laserskanner fra fly</documentation>
        </annotation>
      </enumeration>
      <enumeration value="60">
        <annotation>
          <documentation>Genererte data, interpolasjonsmetode. Ikke nærmere spesifisert</documentation>
        </annotation>
      </enumeration>
      <enumeration value="61">
        <annotation>
          <documentation>Genererte data, interpolasjonsmetode, fra terrengmodell</documentation>
        </annotation>
      </enumeration>
      <enumeration value="74">
        <annotation>
          <documentation>Målt med stigningsmåler</documentation>
        </annotation>
      </enumeration>
      <enumeration value="91">
        <annotation>
          <documentation>Innmålt med satellittbaserte systemer for navigasjon og 
posisjonering med global dekning (f.eks GPS, GLONASS, GALILEO): Kodemåling, relative målinger.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="92">
        <annotation>
          <documentation>Innmålt med satellittbaserte systemer for navigasjon og 
posisjonering med global dekning (f.eks GPS, GLONASS, 
GALILEO): Kodemåling, enkle målinger.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99">
        <annotation>
          <documentation>Ukjent målemetode</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="MålemetodeHøydeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Posisjonskvalitet" substitutionGroup="gml:AbstractObject" type="app:PosisjonskvalitetType">
    <annotation>
      <documentation>beskrivelse av kvaliteten på stedfestingen. Merk: Benyttes bare for VertikalObjektKomponentPunkt. For VertikalObjektKomponentLinje er nøyaktighet bestemt ved nøyaktighet for de VertikalObjektKomponentPunkt som avgrenser linja.</documentation>
    </annotation>
  </element>
  <complexType name="PosisjonskvalitetType">
    <sequence>
      <element name="målemetode" type="app:MålemetodeType">
        <annotation>
          <documentation>metode for måling i grunnriss (x,y), og høyde (z) når metoden er den samme som ved måling i grunnriss</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="nøyaktighet" type="integer">
        <annotation>
          <documentation>punktstandardavviket i grunnriss for punkter

Merknad:
Oppgitt i cm</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="synbarhet" type="app:SynbarhetType">
        <annotation>
          <documentation>hvor godt den kartlagte detalj var synbar ved kartleggingen</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="målemetodeHøyde" type="app:MålemetodeHøydeType">
        <annotation>
          <documentation>metode for å måle høyden</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="nøyaktighetHøyde" type="integer">
        <annotation>
          <documentation>nøyaktighet for høyden i cm</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="PosisjonskvalitetPropertyType">
    <sequence>
      <element ref="app:Posisjonskvalitet"/>
    </sequence>
  </complexType>
  <element name="ReferanseTilEksterntRegister" substitutionGroup="gml:AbstractObject" type="app:ReferanseTilEksterntRegisterType">
    <annotation>
      <documentation>informasjon om kobling til eksterne registre.</documentation>
    </annotation>
  </element>
  <complexType name="ReferanseTilEksterntRegisterType">
    <sequence>
      <element minOccurs="0" name="registernavn" type="string">
        <annotation>
          <documentation>navn til eksternt register</documentation>
        </annotation>
      </element>
      <element name="eksternId" type="string">
        <annotation>
          <documentation>ekstern Id av samme objekt i et annet register</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ReferanseTilEksterntRegisterPropertyType">
    <sequence>
      <element ref="app:ReferanseTilEksterntRegister"/>
    </sequence>
  </complexType>
  <simpleType name="RegelverkMerkepliktType">
    <annotation>
      <documentation>hinder er merkepliktig i henhold til</documentation>
    </annotation>
    <union memberTypes="app:RegelverkMerkepliktEnumerationType app:RegelverkMerkepliktOtherType"/>
  </simpleType>
  <simpleType name="RegelverkMerkepliktEnumerationType">
    <annotation>
      <documentation>hinder er merkepliktig i henhold til</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="BSLE2">
        <annotation>
          <documentation>Merket i henhold til forskrift om Bestemmelser for sivil luftfart nr 2.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="BSLE3">
        <annotation>
          <documentation>Merket i henhold til forskrift om Bestemmelser for sivil luftfart nr 3.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="LT">
        <annotation>
          <documentation>merking pålagt spesifikt av Luftfartstilsynet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AGG">
        <annotation>
          <documentation>enkeltelementer er ikke merkepliktige i utgangspunktet, men de er merkepliktige hvis de oppfyller visse krav når de er sett som helhet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="EASA">
        <annotation>
          <documentation>Merket i henhold til bestemmelser fra EASA</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ICAO">
        <annotation>
          <documentation>Merket i henhold til bestemmelser fra ICAO</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RegelverkMerkepliktOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="StatusType">
    <annotation>
      <documentation>objektets tilstand</documentation>
    </annotation>
    <union memberTypes="app:StatusEnumerationType app:StatusOtherType"/>
  </simpleType>
  <simpleType name="StatusEnumerationType">
    <annotation>
      <documentation>objektets tilstand</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="E">
        <annotation>
          <documentation>Identisk med tidligere SITSTAT = 3

-- Definition -- 
Identical with previous SITSTAT = 3</documentation>
        </annotation>
      </enumeration>
      <enumeration value="K">
        <annotation>
          <documentation>Ikke lenger et hinder.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="O">
        <annotation>
          <documentation>Hindret er ombygd (blir vanligvis ikke brukt)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>Hindret skal bygges</documentation>
        </annotation>
      </enumeration>
      <enumeration value="U">
        <annotation>
          <documentation>Hinderet er under bygging/ombygging</documentation>
        </annotation>
      </enumeration>
      <enumeration value="FJ">
        <annotation>
          <documentation>Feilregistrert i registeret, skulle aldri vært der.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="StatusOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element abstract="true" name="Supertype_VertikalObjekt" substitutionGroup="gml:AbstractFeature" type="app:Supertype_VertikalObjektType">
    <annotation>
      <documentation>VertkalObjekt inneholder felles egenskaper for alle VertikalObjektKomponenter som til sammen utgjør et luftfartshinder. Her listes egenskaper som er arvet fra SOSI objekt.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="Supertype_VertikalObjektType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="datafangstdato" type="dateTime">
            <annotation>
              <documentation>dato da objektet siste gang ble innmålt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endringsflagg" type="app:EndringsflaggPropertyType">
            <annotation>
              <documentation>endringsinformasjon om et objekt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="gyldigFra" type="dateTime">
            <annotation>
              <documentation>Tidspunktet når objektet oppstod i den virkelige verden</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="gyldigTil" type="dateTime">
            <annotation>
              <documentation>Tidspunktet når objektet opphørte å eksistere i den virkelige verden</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="informasjon" type="string">
            <annotation>
              <documentation>generell opplysning

Merknad:
mulighet til å legge inn utfyllende informasjon om objektet</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="link" type="string">
            <annotation>
              <documentation>referanse  til et informasjonselement, enten lokalt eller globalt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="oppdateringsdato" type="dateTime">
            <annotation>
              <documentation>dato for siste endring på objektdataene 

Merknad: 
Oppdateringsdato refererer til en endring av dataene i registeret. Dataene kan dermed endres som følge av en forvaltningsmessig beslutning uten at det virkelige objektet i terrenget er endret.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="opphav" type="string">
            <annotation>
              <documentation>referanse til opphavsmaterialet, kildematerialet, organisasjons/publiseringskilde

Merknad: 
Kan også beskrive navn på person og årsak til oppdatering</documentation>
            </annotation>
          </element>
          <element name="status" type="app:StatusType">
            <annotation>
              <documentation>objektets tilstand, se gyldige koder i kodeliste Status</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Supertype_VertikalObjektPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Supertype_VertikalObjekt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="Supertype_VertikalObjektKomponent" substitutionGroup="gml:AbstractFeature" type="app:Supertype_VertikalObjektKomponentType">
    <annotation>
      <documentation>Et luftfartshinder kan bestå av ett eller flere VertikalObjektKomponent. Her listes egenskaper som er arvet fra SOSI-objekt.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="Supertype_VertikalObjektKomponentType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="verifiseringsdato" type="dateTime">
            <annotation>
              <documentation>dato når dataene er fastslått å være i samsvar med virkeligheten

Merknad: Verifiseringsdato er identisk med ..DATO i tidligere versjoner av SOSI</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="oppdateringsdato" type="dateTime">
            <annotation>
              <documentation>dato for siste endring på objektdataene 

Merknad: 
Oppdateringsdato refererer til en endring av dataene i registeret. Dataene kan dermed endres som følge av en forvaltningsmessig beslutning uten at det virkelige objektet i terrenget er endret.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="endringsflagg" type="app:EndringsflaggPropertyType">
            <annotation>
              <documentation>endringsinformasjon om et objekt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="status" type="app:StatusType">
            <annotation>
              <documentation>objektets tilstand, se gyldige koder i kodeliste Status</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Supertype_VertikalObjektKomponentPropertyType">
    <sequence minOccurs="0">
      <element ref="app:Supertype_VertikalObjektKomponent"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="SynbarhetType">
    <annotation>
      <documentation>hvor godt den kartlagte detalj var synbar ved kartleggingen</documentation>
    </annotation>
    <union memberTypes="app:SynbarhetEnumerationType app:SynbarhetOtherType"/>
  </simpleType>
  <simpleType name="SynbarhetEnumerationType">
    <annotation>
      <documentation>hvor godt den kartlagte detalj var synbar ved kartleggingen</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>Default</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>Forøvrig grei å innmåle. (Benyttes bl.a. for innmåling av ledninger på lukket grøft)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>Middels synlig i flybilde/modell</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>Dårlig/ikke synlig i flybilde/modell</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SynbarhetOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeEndringType">
    <annotation>
      <documentation>endringsstatus for objektet</documentation>
    </annotation>
    <union memberTypes="app:TypeEndringEnumerationType app:TypeEndringOtherType"/>
  </simpleType>
  <simpleType name="TypeEndringEnumerationType">
    <annotation>
      <documentation>endringsstatus for objektet</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="E"/>
      <enumeration value="N"/>
      <enumeration value="S"/>
    </restriction>
  </simpleType>
  <simpleType name="TypeEndringOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="VertikalObjekt" substitutionGroup="app:Supertype_VertikalObjekt" type="app:VertikalObjektType">
    <annotation>
      <documentation>VertkalObjekt inneholder felles egenskaper for alle VertikalObjektKomponenter som til sammen utgjør et luftfartshinder. Her listes egenskaper som &lt;i&gt;ikke&lt;/i&gt; er arvet fra SOSI objekt.</documentation>
    </annotation>
  </element>
  <complexType name="VertikalObjektType">
    <complexContent>
      <extension base="app:Supertype_VertikalObjektType">
        <sequence>
          <element minOccurs="0" name="kommentarVertikalObjektType" type="string">
            <annotation>
              <documentation>hvis "Annet" velges på vertikalObjektType skal dette spesifiseres her</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vertikalObjektGruppe" type="app:JaNeiType">
            <annotation>
              <documentation>indikerer om VertikalObjekt er en representant for et antall nært lokaliserte objekter av samme type</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vertikalObjektNavn" type="string">
            <annotation>
              <documentation>Navn på VertikalObjekt.</documentation>
            </annotation>
          </element>
          <element name="vertikalObjektType" type="app:VertikalObjektTypeType">
            <annotation>
              <documentation>her angis det hvilken type vertikalt objekt dette objektet er, se egen kodeliste</documentation>
            </annotation>
          </element>
          <element name="identifikasjonObjekt" type="app:IdentifikasjonObjektPropertyType">
            <annotation>
              <documentation>unik identifikasjon av et objekt</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="bestårAvVertikalobjektkomponent">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="app:VertikalObjektKomponentPunkt"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VertikalObjektPropertyType">
    <sequence minOccurs="0">
      <element ref="app:VertikalObjekt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="VertikalObjektKomponent" substitutionGroup="app:Supertype_VertikalObjektKomponent" type="app:VertikalObjektKomponentType">
    <annotation>
      <documentation>Et luftfartshinder kan bestå av ett eller flere VertikalObjektKomponent(er). Her listes egenskaper som &lt;i&gt;ikke&lt;/i&gt; er arvet fra SOSI objekt. En VertikalObjektKomponent kan være enten en linje eller et punkt – se VertikalObjektKomponentLinje og VertikalObjektKomponentPunkt.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="VertikalObjektKomponentType">
    <complexContent>
      <extension base="app:Supertype_VertikalObjektKomponentType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="merking" type="app:MerkingPropertyType">
            <annotation>
              <documentation>samlet informasjon om merking. Gjelder ikke lyssetting. All informasjon om lyssetting ligger under featureType Lyssetting</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vertikalUtstrekning" type="double">
            <annotation>
              <documentation>objektkomponentens maksimale høyde over terreng- eller vannoverflate</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="vertikalUtstrekningMåleenhet" type="app:MåleenhetType">
            <annotation>
              <documentation>her oppgis måleenheten til den vertikale utstrekningen av objektet</documentation>
            </annotation>
          </element>
          <element name="merkeplikt" type="app:MerkepliktPropertyType">
            <annotation>
              <documentation>informasjon om merkeplikt. Gjelder lyssetting og annen merking.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="eksternReferanse" type="app:ReferanseTilEksterntRegisterPropertyType">
            <annotation>
              <documentation>referanse til et eksternt register</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="komponentsekvensnummer" type="integer">
            <annotation>
              <documentation>angir rekkefølge på VertikalObjektKomponent som tilhører samme VertikalObjekt</documentation>
            </annotation>
          </element>
          <element name="BSLE-2-1_hinder" type="app:JaNeiType">
            <annotation>
              <documentation>hvorvidt dette er et hinder ihht. forskrift BSL E 2-1</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="lyssetting" type="app:LystypeType">
            <annotation>
              <documentation>hinderlys til bruk ved merking av luftfartshinder i henhold til vedlegg til forskrift om rapportering, registrering og merking av luftfartshinder, BSL E 2-1. &lt;font color="#0f0f0f"&gt;I tillegg er det mulig å velge koder fra gammel NRL&lt;/font&gt;</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VertikalObjektKomponentPropertyType">
    <sequence minOccurs="0">
      <element ref="app:VertikalObjektKomponent"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VertikalObjektKomponentLinje" substitutionGroup="app:VertikalObjektKomponent" type="app:VertikalObjektKomponentLinjeType">
    <annotation>
      <documentation>Egenskaper tilhørende en VertikalObjektKomponent som er en linje.</documentation>
    </annotation>
  </element>
  <complexType name="VertikalObjektKomponentLinjeType">
    <complexContent>
      <extension base="app:VertikalObjektKomponentType">
        <sequence>
          <element name="identifikasjonLinje" type="app:IdentifikasjonLinjePropertyType">
            <annotation>
              <documentation>unik identifikasjon av et objekt</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="linjeElement" type="gml:CurvePropertyType">
            <annotation>
              <documentation>det geografiske linjeobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="linjespenn" type="app:JaNeiType">
            <annotation>
              <documentation>informasjon om en VertikalObjektKomponentLinje er et spenn eller ei. Et linjespenn har vertikal utstrekning på 60 m eller høyere eller er av andre årsaker omfattet av merkepålegg fra Luftfartstilsynet.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengde" type="double">
            <annotation>
              <documentation>horisontal avstand mellom start- og sluttpunkt på linjesegment</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="lengdeMåleenhet" type="app:MåleenhetType">
            <annotation>
              <documentation>her oppgis måleenheten til lengden av linjesegmentet</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="avgrensesAvPunkt" type="app:VertikalObjektKomponentLinjePktPropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">app:avgrenserLinje</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VertikalObjektKomponentLinjePropertyType">
    <sequence minOccurs="0">
      <element ref="app:VertikalObjektKomponentLinje"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VertikalObjektKomponentLinjePkt" substitutionGroup="app:VertikalObjektKomponent" type="app:VertikalObjektKomponentLinjePktType">
    <annotation>
      <documentation>Egenskaper tilhørende en VertikalObjektKomponent som er et punkt.</documentation>
    </annotation>
  </element>
  <complexType name="VertikalObjektKomponentLinjePktType">
    <complexContent>
      <extension base="app:VertikalObjektKomponentType">
        <sequence>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>det geografiske punktobjektet</documentation>
            </annotation>
          </element>
          <element name="href" type="app:HøydereferanseType">
            <annotation>
              <documentation>koordinatregistering utført på topp eller bunn av et objekt</documentation>
            </annotation>
          </element>
          <element name="hrefSystem" type="app:HøydereferansesystemType">
            <annotation>
              <documentation>referanseflate som er utgangspunktet for høydekoordinat.</documentation>
            </annotation>
          </element>
          <element name="identifikasjonLinjePkt" type="app:IdentifikasjonLinjePktPropertyType">
            <annotation>
              <documentation>unik identifikasjon av et objekt</documentation>
            </annotation>
          </element>
          <element name="kvalitet" type="app:PosisjonskvalitetPropertyType">
            <annotation>
              <documentation>beskrivelse av kvaliteten på stedfestingen</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="avgrenserLinje" type="app:VertikalObjektKomponentLinjePropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">app:avgrensesAvPunkt</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VertikalObjektKomponentLinjePktPropertyType">
    <sequence minOccurs="0">
      <element ref="app:VertikalObjektKomponentLinjePkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VertikalObjektKomponentPunkt" substitutionGroup="app:VertikalObjektKomponent" type="app:VertikalObjektKomponentPunktType">
    <annotation>
      <documentation>Egenskaper tilhørende en VertikalObjektKomponent som er et punkt.</documentation>
    </annotation>
  </element>
  <complexType name="VertikalObjektKomponentPunktType">
    <complexContent>
      <extension base="app:VertikalObjektKomponentType">
        <sequence>
          <element minOccurs="0" name="posisjon" type="gml:PointPropertyType">
            <annotation>
              <documentation>det geografiske punktobjektet</documentation>
            </annotation>
          </element>
          <element name="href" type="app:HøydereferanseType">
            <annotation>
              <documentation>koordinatregistering utført på topp eller bunn av et objekt</documentation>
            </annotation>
          </element>
          <element name="hrefSystem" type="app:HøydereferansesystemType">
            <annotation>
              <documentation>referanseflate som er utgangspunktet for høydekoordinat.</documentation>
            </annotation>
          </element>
          <element name="identifikasjonPunkt" type="app:IdentifikasjonPunktPropertyType">
            <annotation>
              <documentation>unik identifikasjon av et objekt</documentation>
            </annotation>
          </element>
          <element name="kvalitet" type="app:PosisjonskvalitetPropertyType">
            <annotation>
              <documentation>beskrivelse av kvaliteten på stedfestingen</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VertikalObjektKomponentPunktPropertyType">
    <sequence minOccurs="0">
      <element ref="app:VertikalObjektKomponentPunkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VertikalObjektTypeType">
    <annotation>
      <documentation>ulike typer VertikalObjekter (luftfartshindre).</documentation>
    </annotation>
    <union memberTypes="app:VertikalObjektTypeEnumerationType app:VertikalObjektTypeOtherType"/>
  </simpleType>
  <simpleType name="VertikalObjektTypeEnumerationType">
    <annotation>
      <documentation>ulike typer VertikalObjekter (luftfartshindre).</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="Landbruksutstyr">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType kode AG_EQUIP</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Telemast">
        <annotation>
          <documentation>mast med radio- og telekommunikasjonsutstyr for sending/mottak av telesignaler

tilsvarer klasse MastTele i Ledningsnett 4.0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Bru">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType kode BRIDGE</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Bygning">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType kode BUILDING</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Gondolbane">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType kode CABLE_CAR</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Kontrolltårn">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType kode CONTROL_TOWER</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Kjøletårn">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType kode COOLING_TOWER</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Kran">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType

gjelder også heisekrantypene skinnekran/havnekran, tårnkran/byggekran, mobilkran, flytekran</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Demning">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType kode DAM</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Kuppel">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType kode DOME</documentation>
        </annotation>
      </enumeration>
      <enumeration value="EL_Nettstasjon">
        <annotation>
          <documentation>stasjon som transformerer elektrisitet fra et høyspentnivå til et lavere

tilsvarer EL_Transformatorstasjon og EL_Nettstasjon i SOSI Ledning 4.5

Merk: Gjelder alle typer transformasjoner. I standarden for luftfartshinder skiller vi ikke mellom ulike typer transformasjoner som for eksempel transformasjon til lavere eller høyere enn 230 V slik det gjøres i SOSI Ledning 4.5.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Gjerde">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType kode FENCE</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Fyrtårn">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType kode LIGHTHOUSE</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Monument">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType, kode MONUMENT</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Terrengpunkt">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType, kode NATURAL_HIGHPOINT</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Navigasjonshjelpemiddel">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType, kode NAVAID

Gjelder kun radio instrumenter som brukes ifm navigasjon for luftfartøy og ikke hjelpemidler til andre form for navigasjon, som for eksempel til sjøs.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Stolpe">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType, kode POLE</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Kraftverk">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType, kode POWER_PLANT</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Raffineri">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType, kode REFINERY</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Oljerigg">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType, kode RIG</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Skilt">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType, kode SIGN</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Pipe">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType, kode STACK</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Tank">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType, kode TANK</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Forankret ballong">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType, kode TETHERED_BALLOON</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Tårn">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType, kode TOWER</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Kraftledning">
        <annotation>
          <documentation>linje som fører elektrisk kraft over store avstander 

tilsvarer klasse LuftledningLH i SOSI Ledningsnett 4.0 og kodene "Høgspentnett" og "Lavspentnett" i kodelista Ledningsnettverkstype i SOSI Ledningsnett 4.5

tilsvarer også kode TRANSMISSION_LINE
hentet fra AIXM 5.1 klasse CodeVerticalStructureType</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Tre">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType, kode TREE</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Skogsområde">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType, kode VEGETATION

gjelder også klasse lufthavnhinderTregruppe i SOSI Lufthavn 4.1</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Vanntårn">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType, kode WATER_TOWER</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Vindmølle">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType, kode WINDMILL</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Vindmøllepark">
        <annotation>
          <documentation>hentet fra AIXM 5.1 klasse CodeVerticalStructureType, kode WINDMILL_FARMS</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Hopptårn">
        <annotation>
          <documentation>tilsvarer klasse Hoppbakke i SOSI Bygnan 4.0

ikke dommertårnet</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Vindmåler">
        <annotation>
          <documentation>meteorologisk instrument som måler vindhastighet og vindretning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Lysmast">
        <annotation>
          <documentation>mast brukt for montering av ulike lyskilder</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Flaggstang">
        <annotation>
          <documentation>lang rett stang for heising av flagg

tilsvarer klasse Flaggstang i SOSI Bygnan 4.0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Petroleumsinnretning">
        <annotation>
          <documentation>innretning, installasjon, anlegg og annet utstyr for petroleumsvirksomhet, likevel ikke forsynings- og hjelpefartøy eller skip som transporterer petroleum i bulk

tilsvarer klasse Petroleumsinnretning i SOSI Petroleum 4.0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Silo">
        <annotation>
          <documentation>lagringsbygg for fôr og korn som ikke er registrert som bygning i GAB

tilsvarer klasse Silo i SOSI Bygnan 4.0

Merknad: I motsetning til definisjonen av klasse Silo i SOSI Bygnan 4.0 vil dette også gjelde store silobygg</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Stolheis">
        <annotation>
          <documentation>taubane med stoler til persontransport

tilsvarer klasse Stolheis i SOSI Bygnan 4.0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Skitrekk">
        <annotation>
          <documentation>taubane til å dra skiløper opp bratte bakker

tilsvarer klasse Skitrekk i SOSI Bygnan 4.0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Taubane">
        <annotation>
          <documentation>innretning hvor tau eller vaiere bærer og eller trekker last over en strekning

tilsvarer klasse Taubane i SOSI Bygnan 4.0</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Fornøyelsesparkinnretning">
        <annotation>
          <documentation>pariserhjul, berg og dal bane og andre høye innretninger i en fornøyelsespark</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Annet"/>
    </restriction>
  </simpleType>
  <simpleType name="VertikalObjektTypeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
